<h3 id="comp">Comparison Operators</h3>

Comparison operations compare some value or operand and based on a condition, produce a Boolean. When comparing two values you can use these operators:

<ul>
    <li>equal: <b>==</b></li>
    <li>not equal: <b>!=</b></li>
    <li>greater than: <b>></b></li>
    <li>less than: <b>&lt;</b></li>
    <li>greater than or equal to: <b>>=</b></li>
    <li>less than or equal to: <b>&lt;=</b></li>
</ul>

In [1]:
1==2

False

In [2]:
# Condition Equal

a = 5
a == 6

False

In [3]:
# Greater than Sign

i = 6
i > 5

True

In [4]:
# Greater than Sign

i = 2
i > 5

False

In [5]:
# Inequality Sign

i = 2
i != 6

True

In [6]:
# Inequality Sign

i = 6
i != 6

False

In [7]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jackson"

False

In [8]:
# Use Inequality sign to compare the strings

"ACDC" != "Michael Jackson"

True

For example, the ASCII code for ! is 33, while the ASCII code for + is 43. Therefore + is larger than ! as 43 is greater than 33.

Similarly, from the table above we see that the value for A is 65, and the value for B is 66, therefore:

In [9]:
# Compare characters

'B' > 'A'

True

In [10]:
# Compare characters

'BA' > 'AB'

True

<h3 id="branch">Branching</h3>

 Branching allows us to run different statements for different inputs. It is helpful to think of an **if statement** as a locked room, if the statement is **True** we can enter the room and your program will run some predefined tasks, but if the statement is **False** the program will ignore the task.

In [11]:
# If statement example

age = 19
#age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

you can enter
move on

In [12]:
# Else statement example

age = 18
# age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Meat Loaf
move on

In [13]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Pink Floyd
move on

In [14]:
# Condition statement example

album_year = 1983
album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

do something..

In [15]:
# Condition statement example

album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Album year is greater than 1980
do something..

In [16]:
# Condition statement example

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [17]:
# Condition statement example

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

In [18]:
# The not statement checks if the statement is false:

album_year = 1983

if not (album_year == 1984):
    print ("Album year is not 1984")

Album year is not 1984

In [19]:
# Write an if statement to determine if an album had a rating greater than 8. 
#Test it using the rating for the album “Back in Black” that had a rating of 8.5. If the statement is true print "This album is Amazing!"
rating = 8.5
if rating > 8:
    print("This album is Amazing")

This album is Amazing

In [20]:
# Write an if-else statement that performs the following. If the rating is larger then eight print “this album is amazing”. 
#If the rating is less than or equal to 8 print “this album is ok”.
rating = 8
if rating > 8:
    print("This album is Amazing")
else:
    print("This album is ok")

This album is ok

Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If the condition is true print out the year the album came out.

In [21]:
album_year = 1979

if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print("This album came out in year", album_year)

This album came out in year 1979

<h2 id="loop">Loops</h2>

<h3 id="range">Range</h3>

Sometimes, you might want to repeat a given operation many times. Repeated executions like this are performed by <b>loops</b>. We will look at two types of loops, <code>for</code> loops and <code>while</code> loops.

Before we discuss loops lets discuss the <code>range</code> object. It is helpful to think of the range object as an ordered list. For now, let's look at the simplest case. If we would like to generate an object that contains elements ordered from 0 to 2 we simply use the following command:

In [22]:
# Use the range

range(3)

range(0, 3)

<h3 id="for">What is <code>for</code> loop?</h3>

The <code>for</code> loop enables you to execute a code block multiple times. For example, you would use this if you would like to print out every element in a list.    
Let's try to use a <code>for</code> loop to print all the years presented in the list <code>dates</code>:

In [23]:
for i in range(5):
    print(i)

0
1
2
3
4

In [24]:
for i in range(1,5):
    print(i)

1
2
3
4

In [25]:
# For loop example

dates = [1982,1980,1973,1985,1984,1999,1993]
N = len(dates)  
for i in range(N):
    print(dates[i])

1982
1980
1973
1985
1984
1999
1993

In [26]:
# Example of for loop

for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In Python we can directly access the elements in the list as follows:

In [27]:
# Exmaple of for loop, loop through list

for year in dates:  
    print(year)

1982
1980
1973
1985
1984
1999
1993

In [28]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

In [29]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

<h3 id="while">What is <code>while</code> loop?</h3>

As you can see, the <code>for</code> loop is used for a controlled flow of repetition. However, what if we don't know when we want to stop the loop? What if we want to keep executing a code block until a certain condition is met? The <code>while</code> loop exists as a tool for repeated execution based on a condition. The code block will keep being executed until the given logical condition returns a **False** boolean value.

Let’s say we would like to iterate through list <code>dates</code> and stop at the year 1973, then print out the number of iterations. This can be done with the following block of code:

In [30]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [31]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]
    

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

<h2 id="quiz">Quiz on Loops</h2>

Write a <code>for</code> loop the prints out all the element between <b>-5</b> and <b>5</b> using the range function.

In [32]:
for i in range(-4,5):
    print (i)

-4
-3
-2
-1
0
1
2
3
4

Print the elements of the following list: Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop'] Make sure you follow Python conventions.

In [33]:
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for i in Genres:
    print(i)

rock
R&B
Soundtrack
R&B
soul
pop

Write a for loop that prints out the following list: <code>squares=['red', 'yellow', 'green', 'purple', 'blue']</code>

In [34]:
squares=['red', 'yellow', 'green', 'purple', 'blue']
for square in squares:
    print(square)

red
yellow
green
purple
blue

Write a while loop to display the values of the Rating of an album playlist stored in the list <code>PlayListRatings</code>. If the score is less than 6, exit the loop. The list <code>PlayListRatings</code> is given by: <code>PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]</code>

In [35]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
rating = PlayListRatings[0]
while(rating >= 6):
    print(rating)
    i = i + 1
    rating = PlayListRatings[i]
print("higher rates")

10
9.5
10
8
7.5
higher rates

In [36]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
rating = PlayListRatings[0]
while(i < len(PlayListRatings) and rating >= 6):
    print(rating)
    i = i + 1 
    rating = PlayListRatings[i]

10
9.5
10
8
7.5

Write a while loop to copy the strings <code>'orange'</code> of the list <code>squares</code> to the list <code>new_squares</code>. Stop and exit the loop if the value on the list is not <code>'orange'</code>:

In [37]:
# Write your code below and press Shift+Enter to execute

squares = ['orange','orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while(squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print (new_squares)

['orange', 'orange']

In [47]:
#Q1 Given two integer numbers. If any of the numbers are greater than 50 return true
number1= 20
number2= 60
if number1 > 50 or number2 > 50:
    print(True)
else:
    print(False)

True

In [50]:
#Q2 Given a list of numbers, return True if first and last number of a list is same
list=[1,2,5,4,1]
if list[0] == list[-1]:
    print(True)
else:
    print(False)

True

In [52]:
#Q3 Given a range of the first 10 numbers[1:10][1,2,3,4,5,6,7,8,9] Iterate from the start number to
#and In each iteration print the sum of the current number and previous number [1,2,3,4,5,6,7,8,9]
i = 0
for n in range(1,10):
    print(n+i)
    i = i + 1

1
3
5
7
9
11
13
15
17

In [61]:
#Q4 Given a string name, display only those characters which are present at an even number
name="NPowerCanada"
j = 0
for i in name:
    if (j < len(name)):
        print(name[j],end='')
        j = j + 2

NoeCnd

In [62]:
#Q5 Given a string oldString and an integer number n,
#remove characters from a string starting from zero up to n and return a newStrin
oldString="PythonCourse"
n=6
k=0
newStrin=""
for j in oldString:
        if(k<n):
            newStrin = newStrin + j
            k=k+1
print(newStrin)

Python

In [43]:
##### Q6 Print the follwoing pattern
#*
#**
#***
#****
n = "*"
i = 0
for i in range(6):
    print(n*i)
    i = i +1

*
**
***
****
*****

In [45]:
i = 0
while i <= 5:
    print(i * "*")
    i  = i + 1

*
**
***
****
*****

In [3]:
for i in range(1,5):
    print("*", end='')

****

In [9]:
for i in range(1,5):
    for j in range(1,5):
        print("*",end='')

****************

In [4]:
asteriks = '*'
for i in range(1, 5):
    print(i*asteriks)

*
**
***
****

In [9]:
#Q7 Reverse the following list using for loop
list1=[90,70,50,60]
list1_reversed = []
for value in list1:
   list1_reversed = [value] + list1_reversed
print(list1_reversed)

[60, 50, 70, 90]

In [75]:
#Q8 Display numbers from -10 to -1 using for loop [hint use range method]
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1