<h2 id="tuple">Tuples</h2>

In Python, there are different data types: string, integer, and float. These data types can all be contained in a tuple as follows:

<b>Note Tuple:</b> Tuples are similar to lists—with the difference that you cannot change the tuple values (tuples are <b>immutable</b>) and you use parentheses <b>(...)</b> rather than square brackets <b>[...]</b>.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/TuplesType.png" width="750" align="center">

In [1]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [2]:
# Print the type of the tuple you created

type(tuple1)

tuple

In [3]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [4]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [5]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

<h3 id="slice">Slicing</h3>

We can obtain the last two elements of the tuple:

In [7]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [8]:
# Slice from index 3 to index 4

tuple2[3:5]

('hard rock', 10)

In [9]:
# Get the length of tuple

len(tuple2)

5

<h3 id="sort">Sorting</h3>

Tuples are immutable mean we can not change the tuple that is why we need to assign them to a new variable when we want to operate a new operation like sorted

In [16]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [17]:
Ratings2=sorted(Ratings)

In [18]:
Ratings2

[0, 2, 5, 6, 6, 8, 9, 9, 10]

<h3 id="nest">Nested Tuple</h3>

A tuple can contain another tuple as well as other more complex data types. This process is called 'nesting'. Consider the following tuple with several elements:

In [19]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [20]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [21]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [22]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

In [23]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

'o'

In [24]:
# Print the first element in the second nested tuples

NestedT[4][1][0]

1

In [25]:
# Print the second element in the second nested tuples

NestedT[4][1][1]

2

<h2 id="quiz">Quiz on Tuples</h2>

Consider the following tuple:

In [26]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

Find the length of the tuple, <code>genres_tuple</code>:

In [27]:
len(genres_tuple)

8

Access the element, with respect to index 3:

In [28]:
genres_tuple[3]

'hard rock'

Use slicing to obtain indexes 3, 4 and 5:

In [29]:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

Find the first two elements of the tuple <code>genres_tuple</code>:

In [30]:
genres_tuple[0:2]

('pop', 'rock')

Find the first index of <code>"disco"</code>:

In [33]:
genres_tuple.index("disco")

7

Generate a sorted List from the Tuple <code>C_tuple=(-5, 1, -3)</code>:

In [39]:
C_tuple=(-5, 1, -3, 0)
C_List=sorted(C_tuple)
print(C_List)

[-5, -3, 0, 1]

<h2 id="list">Lists</h2>

 To create a list, type the list within square brackets <b>[ ]</b>, with your content inside the parenthesis and separated by commas. Let’s try it!

In [40]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [41]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

<h3 id="content">List Content</h3>

Lists can contain strings, floats, and integers. We can nest other lists, and we can also nest tuples and other data structures. The same indexing conventions apply for nesting:

In [42]:
# Sample List

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

<h3 id="op">List Operations</h3>

 We can also perform slicing in lists. For example, if we want the last two elements, we use the following command:

In [45]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
# List slicing

L[3:5]

['MJ', 1]

We can use the method <code>extend</code> to add new elements to the list:

In [50]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

Another similar method is <code>append</code>. If we apply <code>append</code> instead of <code>extend</code>, we add one element to the list:

In [51]:
L.append(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10, ['pop', 10]]

As lists are <b>mutable</b>, we can change them. For example, we can change the first element as follows:

In [52]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

 We can also delete an element of a list using the <code>del</code> command:

In [53]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

We can convert a string to a list using <code>split</code>.  For example, the method <code>split</code> translates every group of characters separated by a space into an element in a list:

In [55]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

We can use the split function to separate strings on a specific character which we call a **delimiter**. We pass the character we would like to split on into the argument, which in this case is a comma.  The result is a list, and each element corresponds to a set of characters that have been separated by a comma:

In [58]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

<h3 id="co">Copy and Clone List</h3>

When we set one variable <b>B</b> equal to <b>A</b>, both <b>A</b> and <b>B</b> are referencing the same list in memory:

In [69]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

Initially, the value of the first element in <b>B</b> is set as "hard rock". If we change the first element in <b>A</b> to <b>"banana"</b>, we get an unexpected side effect.  As <b>A</b> and <b>B</b> are referencing the same list, if we change list <b>A</b>, then list <b>B</b> also changes. If we check the first element of <b>B</b> we get "banana" instead of "hard rock":

In [70]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

You can clone list **A** by using  the following syntax:

In [71]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

Now if you change <b>A</b>, <b>B</b> will not change:

In [72]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

<h2 id="quiz">Quiz on List</h2>

Create a list <code>a_list</code>, with the following elements <code>1</code>, <code>hello</code>, <code>[1,2,3]</code> and <code>True</code>.

In [60]:
a_list=[1, 'hello', [1,2,3], True]
a_list

[1, 'hello', [1, 2, 3], True]

Find the value stored at index 1 of <code>a_list</code>.

In [65]:
a_list[1]

'hello'

Retrieve the elements stored at index 1, 2 and 3 of <code>a_list</code>.

In [66]:
a_list[1:4]

['hello', [1, 2, 3], True]

Concatenate the following lists <code>A = [1, 'a']</code> and <code>B = [2, 1, 'd']</code>:

In [68]:
A = [1, 'a']
B = [2, 1, 'd']
C = A + B
C

[1, 'a', 2, 1, 'd']

In [123]:
#What will list A contain affter the following command is run: del(A[1]) ?
A=["hard rock",10,1.2]
del(A[1])
A

['hard rock', 1.2]

<h2 id="Dic">Dictionaries</h2>

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsList.png" width="650">

In [73]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [74]:
# Access to the value by the key

Dict["key1"]

1

In [75]:
# Access to the value by the key

Dict[(0, 1)]

6

In summary, like a list, a dictionary holds a sequence of elements. Each element is represented by a key and its corresponding value. Dictionaries are created with two curly braces containing keys and values separated by a colon. For every key, there can only be one single value, however, multiple keys can hold the same value. Keys can only be strings, numbers, or tuples, but values can be any data type.

Now let us retrieve the keys of the dictionary using the method <code>keys()</code>:

In [77]:
Dict.keys()

dict_keys(['key1', 'key2', 'key3', 'key4', 'key5', (0, 1)])

You can retrieve the values using the method  <code>values()</code>:

In [79]:
# Get all the values in dictionary

Dict.values()

dict_values([1, '2', [3, 3, 3], (4, 4, 4), 5, 6])

We can add an entry:

In [81]:
Dict["Key6"] = "7" 
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6,
 'Key6': '7'}

We can delete an entry:

In [83]:
# Delete entries by key

del(Dict['key2'])
del(Dict['key5'])
Dict

{'key1': 1, 'key3': [3, 3, 3], 'key4': (4, 4, 4), (0, 1): 6, 'Key6': '7'}

 We can verify if an element is in the dictionary:

In [84]:
# Verify the key is in the dictionary
'key1' in Dict

True

<h2 id="quiz">Quiz on Dictionaries</h2>

<b>You will need this dictionary for the next two questions:</b>

In [85]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

a) In the dictionary <code>soundtrack_dic</code> what are the keys ?

In [86]:
soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

b) In the dictionary <code>soundtrack_dic</code> what are the values ?

In [88]:
soundtrack_dic.values()

dict_values(['1992', '1977'])

The Albums <b>Back in Black</b>, <b>The Bodyguard</b> and <b>Thriller</b> have the following music recording sales in millions 50, 50 and 65 respectively:

a) Create a dictionary <code>album_sales_dict</code> where the keys are the album name and the sales in millions are the values.

In [89]:
album_sales_dict = {"Back in Black":50, "The Bodyguard":50, "Thriller":65}

b) Use the dictionary to find the total sales of <b>Thriller</b>:

In [90]:
album_sales_dict["Thriller"]

65

c) Find the names of the albums from the dictionary using the method <code>keys()</code>:

In [91]:
album_sales_dict.keys()

dict_keys(['Back in Black', 'The Bodyguard', 'Thriller'])

d) Find the values of the recording sales from the dictionary using the method <code>values</code>:

In [94]:
album_sales_dict.values()

dict_values([50, 50, 65])

<h2 id="set">Sets</h2>

A set is a unique collection of objects in Python. You can denote a set with a pair of curly brackets <b>{}</b>. Python will automatically remove duplicate items:

In [95]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsUnique.png" width="1100">

In [96]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [97]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

Let us go over set operations, as these can be used to change the set. Consider the set <b>A</b>:

In [98]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [99]:
# Add element to set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [100]:
# Remove the element from set

A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [101]:
# Verify if the element is in the set

"AC/DC" in A

True

<h3 id="logic">Sets Logic Operations</h3>

Remember that with sets you can check the difference between sets, as well as the symmetric difference, intersection, and union:

In [102]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [103]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [104]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [105]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

In [106]:
# Find the difference in set2 but not set1
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [107]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [108]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [109]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [110]:
# Check if subset

set(album_set2).issubset(album_set1)

False

In [111]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [112]:
# Check if superset

album_set1.issuperset({"Back in Black", "AC/DC"})

True

<h2 id="quiz">Quiz on Sets</h2>

Convert the list <code>['rap','house','electronic music', 'rap']</code> to a set:

In [113]:
set(['rap','house','electronic music', 'rap'])

{'electronic music', 'house', 'rap'}

Consider the list <code>A = [1, 2, 2, 1]</code> and set <code>B = set([1, 2, 2, 1])</code>, does <code>sum(A) == sum(B)</code>?

In [115]:
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
print("sum of A:", sum(A))
print("sum of B:", sum(B))

sum of A: 6
sum of B: 3

Create a new set <code>album_set3</code> that is the union of <code>album_set1</code> and <code>album_set2</code>:

In [119]:
# Write your code below and press Shift+Enter to execute

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

Find out if <code>album_set1</code> is a subset of <code>album_set3</code>:

In [121]:
album_set1.issubset(album_set3)

True