<h1>Python Tuples Exercises</h1>

In [42]:
#Q1 Create myTuple tuple with the follwoing values ("NPower","JDA","Tuesday",30,31,2021)
myTuple = ("NPower","JDA","Tuesday",30,31,2021)
myTuple

('NPower', 'JDA', 'Tuesday', 30, 31, 2021)

In [32]:
#Q2 What is the type of myTuple
type(myTuple)

tuple

In [33]:
#Q3 What is the length of myTuple
len(myTuple)

6

In [34]:
#Q4 print the values in each index #Use regular indexing
myTuple[0:6]

('NPower', 'JDA', 'Tuesday', 30, 31, 2021)

In [35]:
#Q5 print the values in each index #Use negative indexing
myTuple[-7:-1:1]

('NPower', 'JDA', 'Tuesday', 30, 31)

In [36]:
#Q6 what is the type of each value
print(type(myTuple[0]))
print(type(myTuple[1]))
print(type(myTuple[2]))
print(type(myTuple[3]))
print(type(myTuple[4]))

# or we can write map method
myTuple = list(map(type,myTuple))
print(myTuple)

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
[<class 'str'>, <class 'str'>, <class 'str'>, <class 'int'>, <class 'int'>, <class 'int'>]

In [45]:
#Q7 unpack myTuple in the follwoeing variables name,program,dayName,month,day,yea
# print the variables
(name,program,dayName,month,day,year)=myTuple
print(name)
print(program)
print(dayName)
print(month)
print(day)
print(year)

NPower
JDA
Tuesday
30
31
2021

In [46]:
#Q8 unpack myTuple2 in the follwoeing variables name,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year)
myTuple2 = (name,program,dayName) & (month,day,year)

TypeError: unsupported operand type(s) for &: 'tuple' and 'tuple'

In [9]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements
Tuple2=("Ulan",)#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value
a,b,c=Tuple1
print("Type a",type(a))
print(a,b,c)
d=Tuple2
print(type(d))
print(d)
e=test
print(e)

Type a <class 'str'>
Jerry 2 89
<class 'tuple'>
('Ulan',)
Leul

In [47]:
#Q9 Reverse myTuple, output should looks like (2021,3,30,"Tuesday","JDA","NPower")
myTuple[::-1]

(2021, 31, 30, 'Tuesday', 'JDA', 'NPower')

In [48]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
A=("Coursera","course",6)
B=("week")
C=(2,"Lists","Tuple")

nestedTuple = (A, B, C)
nestedTuple

(('Coursera', 'course', 6), 'week', (2, 'Lists', 'Tuple'))

In [49]:
#Q11 What is the output of nestedTuple[1:2]
nestedTuple[1:2]

('week',)

In [50]:
#Q12 print each element in the nestedTuple
nestedTuple

(('Coursera', 'course', 6), 'week', (2, 'Lists', 'Tuple'))

In [51]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple
nestedTuple[2]

(2, 'Lists', 'Tuple')

In [52]:
#Q14 Access the value "Lists" from nestedTuple
nestedTuple[2][1]

'Lists'

In [53]:
#Q15 Access the value "Tuple" from nestedTuple
nestedTuple[2][2]

'Tuple'

In [54]:
#Q16 Access the value "course" from nestedTuple
nestedTuple[0][1]

'course'

In [55]:
#Q17 Concatenate myTuple with nestedTuple
myTuple=myTuple+nestedTuple
myTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 31,
 2021,
 ('Coursera', 'course', 6),
 'week',
 (2, 'Lists', 'Tuple'))

In [56]:
#Q18 add your name to the tuple
name=(('Kowcika'))
newTuple=(myTuple,name)
newTuple

(('NPower',
  'JDA',
  'Tuesday',
  30,
  31,
  2021,
  ('Coursera', 'course', 6),
  'week',
  (2, 'Lists', 'Tuple')),
 'Kowcika')

In [57]:
#Q19 check whether Coursera exists within myTuple
# NOTE "in" doesn't work properly with nested tuples

In [58]:
#Q20 check whether 55 exists within testTuple
testTuple=(1,2,33,55,6,55)
number=55
for number in testTuple:
     print("Number exists")
     break;

Number exists

In [59]:
#Q20 check whether 55 exists within testTuple
testTuple=(1,2,33,55,6,55)
number=55
for number in testTuple:
     print("Number exists")
     break;

Number exists

In [60]:
#Q22 print index 8 from newTuple
newTuple[8]

IndexError: tuple index out of range

In [61]:
#Q23 Get the 4th element from the begining of myTuple and 4th element from last 
print(newTuple[0][3])
print(newTuple[0][8][0])

30
2

In [62]:
#Q24 Find how many times 55 appeared in testTuple [Hint: Use method count()]
testTuple.count(55)

2

<h1>Python Lists Exercises</h1>

In [63]:
L=[1,2,3,4,5,6]
print("Min element number in the listis:",min(L))
print("Max number in the listis:",max(L))
print("Sum of elements in the listis:",sum(L))

Min element number in the listis: 1
Max number in the listis: 6
Sum of elements in the listis: 21

In [64]:
L1=[2,3,4,5,1,7,2]
L1.reverse()
L1

[2, 7, 1, 5, 4, 3, 2]

In [65]:
L1.sort()
L1

[1, 2, 2, 3, 4, 5, 7]

In [67]:
#count how many element 2 in list
L1.count(2)

2

In [68]:
L2=[L1*2]
L2

[[1, 2, 2, 3, 4, 5, 7, 1, 2, 2, 3, 4, 5, 7]]

In [70]:
#Q1 Create a tuple with all participant names in the JDA program
JDA_Tuple = ("Abdul Wahid Khudayar",
"Addy Rose",
"Anuoluwapo Oluseyi",
"Aravindh Kuppusamy Haridoss",
"Carlo Halnin",
"Juned Chhiboo",
"Cici Ann Joji",
"DHRUVKUMAR PATEL",
"Erkan Kumesogut",
"Exaltacao Rodrigues",
"fatma tuncalan",
"harpreet kaur",
"Harun Omar-Godane",
"Hossain Ghahraloud",
"Jesso Thomas",
"Kamiar Mehmannavazan",
"Karthik Sai",
"Kwabena Gyasi-Boateng",
"L Reetika",
"mariya amtullah",
"Marwa Musa",
"Meelad Armani",
"Miguel Diaz",
"Mohammad Dabbour",
"Pouria Raziei",
"Reena Thakur",
"Robin Francis Thomas",
"Rohan Thomas",
"Ronit Soni",
"Sameeha Bala",
"Supriya Kanda",
"Weslie Chung",
"Ying Fei Li",
"Poojan Modi",
"Alexander Hailu",
"Ekaterina Shalygina",
"Nevin Tomy",
"Jason Huang",
"Anindita",
"Vrunda Patel",
"Sravan Pingali")
JDA_Tuple

('Abdul Wahid Khudayar',
 'Addy Rose',
 'Anuoluwapo Oluseyi',
 'Aravindh Kuppusamy Haridoss',
 'Carlo Halnin',
 'Juned Chhiboo',
 'Cici Ann Joji',
 'DHRUVKUMAR PATEL',
 'Erkan Kumesogut',
 'Exaltacao Rodrigues',
 'fatma tuncalan',
 'harpreet kaur',
 'Harun Omar-Godane',
 'Hossain Ghahraloud',
 'Jesso Thomas',
 'Kamiar Mehmannavazan',
 'Karthik Sai',
 'Kwabena Gyasi-Boateng',
 'L Reetika',
 'mariya amtullah',
 'Marwa Musa',
 'Meelad Armani',
 'Miguel Diaz',
 'Mohammad Dabbour',
 'Pouria Raziei',
 'Reena Thakur',
 'Robin Francis Thomas',
 'Rohan Thomas',
 'Ronit Soni',
 'Sameeha Bala',
 'Supriya Kanda',
 'Weslie Chung',
 'Ying Fei Li',
 'Poojan Modi',
 'Alexander Hailu',
 'Ekaterina Shalygina',
 'Nevin Tomy',
 'Jason Huang',
 'Anindita',
 'Vrunda Patel',
 'Sravan Pingali')

In [71]:
#Q2 Convert the tuple into a list called pps_L
JDA_list=list(JDA_Tuple)
JDA_list

['Abdul Wahid Khudayar',
 'Addy Rose',
 'Anuoluwapo Oluseyi',
 'Aravindh Kuppusamy Haridoss',
 'Carlo Halnin',
 'Juned Chhiboo',
 'Cici Ann Joji',
 'DHRUVKUMAR PATEL',
 'Erkan Kumesogut',
 'Exaltacao Rodrigues',
 'fatma tuncalan',
 'harpreet kaur',
 'Harun Omar-Godane',
 'Hossain Ghahraloud',
 'Jesso Thomas',
 'Kamiar Mehmannavazan',
 'Karthik Sai',
 'Kwabena Gyasi-Boateng',
 'L Reetika',
 'mariya amtullah',
 'Marwa Musa',
 'Meelad Armani',
 'Miguel Diaz',
 'Mohammad Dabbour',
 'Pouria Raziei',
 'Reena Thakur',
 'Robin Francis Thomas',
 'Rohan Thomas',
 'Ronit Soni',
 'Sameeha Bala',
 'Supriya Kanda',
 'Weslie Chung',
 'Ying Fei Li',
 'Poojan Modi',
 'Alexander Hailu',
 'Ekaterina Shalygina',
 'Nevin Tomy',
 'Jason Huang',
 'Anindita',
 'Vrunda Patel',
 'Sravan Pingali']

In [72]:
#Q3 What is the length of your list
len(JDA_list)

41

In [73]:
#Q4 Find the values stored in indexes [3],[5],[14],[30],[38]
print(JDA_list[3])
print(JDA_list[5])
print(JDA_list[14])
print(JDA_list[30])
print(JDA_list[38])

Aravindh Kuppusamy Haridoss
Juned Chhiboo
Jesso Thomas
Supriya Kanda
Anindita

In [74]:
#Q5 Check if "Sarah" is in the list
["Sarah"] in JDA_list

False

In [75]:
#Q6 Add "Sarah" to your list
JDA_list.append("Sarah")
JDA_list

['Abdul Wahid Khudayar',
 'Addy Rose',
 'Anuoluwapo Oluseyi',
 'Aravindh Kuppusamy Haridoss',
 'Carlo Halnin',
 'Juned Chhiboo',
 'Cici Ann Joji',
 'DHRUVKUMAR PATEL',
 'Erkan Kumesogut',
 'Exaltacao Rodrigues',
 'fatma tuncalan',
 'harpreet kaur',
 'Harun Omar-Godane',
 'Hossain Ghahraloud',
 'Jesso Thomas',
 'Kamiar Mehmannavazan',
 'Karthik Sai',
 'Kwabena Gyasi-Boateng',
 'L Reetika',
 'mariya amtullah',
 'Marwa Musa',
 'Meelad Armani',
 'Miguel Diaz',
 'Mohammad Dabbour',
 'Pouria Raziei',
 'Reena Thakur',
 'Robin Francis Thomas',
 'Rohan Thomas',
 'Ronit Soni',
 'Sameeha Bala',
 'Supriya Kanda',
 'Weslie Chung',
 'Ying Fei Li',
 'Poojan Modi',
 'Alexander Hailu',
 'Ekaterina Shalygina',
 'Nevin Tomy',
 'Jason Huang',
 'Anindita',
 'Vrunda Patel',
 'Sravan Pingali',
 'Sarah']

In [76]:
#Q7 Check if "Bashir" is in the list
["Bashir"] in JDA_list

False

In [77]:
#Q9 Add "Bashir" to your list
JDA_list.append("Bashir")
JDA_list

['Abdul Wahid Khudayar',
 'Addy Rose',
 'Anuoluwapo Oluseyi',
 'Aravindh Kuppusamy Haridoss',
 'Carlo Halnin',
 'Juned Chhiboo',
 'Cici Ann Joji',
 'DHRUVKUMAR PATEL',
 'Erkan Kumesogut',
 'Exaltacao Rodrigues',
 'fatma tuncalan',
 'harpreet kaur',
 'Harun Omar-Godane',
 'Hossain Ghahraloud',
 'Jesso Thomas',
 'Kamiar Mehmannavazan',
 'Karthik Sai',
 'Kwabena Gyasi-Boateng',
 'L Reetika',
 'mariya amtullah',
 'Marwa Musa',
 'Meelad Armani',
 'Miguel Diaz',
 'Mohammad Dabbour',
 'Pouria Raziei',
 'Reena Thakur',
 'Robin Francis Thomas',
 'Rohan Thomas',
 'Ronit Soni',
 'Sameeha Bala',
 'Supriya Kanda',
 'Weslie Chung',
 'Ying Fei Li',
 'Poojan Modi',
 'Alexander Hailu',
 'Ekaterina Shalygina',
 'Nevin Tomy',
 'Jason Huang',
 'Anindita',
 'Vrunda Patel',
 'Sravan Pingali',
 'Sarah',
 'Bashir']

In [78]:
#Q10 Find the index of the element "Sarah" in the list
JDA_list.index("Sarah")

41

In [79]:
#Q11 Change the value of the index in Q10 from "Sarah" to "Instructor"
JDA_list[7]=["Instructor"]
JDA_list

['Abdul Wahid Khudayar',
 'Addy Rose',
 'Anuoluwapo Oluseyi',
 'Aravindh Kuppusamy Haridoss',
 'Carlo Halnin',
 'Juned Chhiboo',
 'Cici Ann Joji',
 ['Instructor'],
 'Erkan Kumesogut',
 'Exaltacao Rodrigues',
 'fatma tuncalan',
 'harpreet kaur',
 'Harun Omar-Godane',
 'Hossain Ghahraloud',
 'Jesso Thomas',
 'Kamiar Mehmannavazan',
 'Karthik Sai',
 'Kwabena Gyasi-Boateng',
 'L Reetika',
 'mariya amtullah',
 'Marwa Musa',
 'Meelad Armani',
 'Miguel Diaz',
 'Mohammad Dabbour',
 'Pouria Raziei',
 'Reena Thakur',
 'Robin Francis Thomas',
 'Rohan Thomas',
 'Ronit Soni',
 'Sameeha Bala',
 'Supriya Kanda',
 'Weslie Chung',
 'Ying Fei Li',
 'Poojan Modi',
 'Alexander Hailu',
 'Ekaterina Shalygina',
 'Nevin Tomy',
 'Jason Huang',
 'Anindita',
 'Vrunda Patel',
 'Sravan Pingali',
 'Sarah',
 'Bashir']

In [80]:
#Q12 Find the index of the element "Bashir" in the list
JDA_list.index("Bashir")

42

In [81]:
#Q13 Change the value of the index in Q12 from "Bashir" to "Peer-Mentor"
JDA_list[42]=["Peer-Mentor"]
JDA_list

['Abdul Wahid Khudayar',
 'Addy Rose',
 'Anuoluwapo Oluseyi',
 'Aravindh Kuppusamy Haridoss',
 'Carlo Halnin',
 'Juned Chhiboo',
 'Cici Ann Joji',
 ['Instructor'],
 'Erkan Kumesogut',
 'Exaltacao Rodrigues',
 'fatma tuncalan',
 'harpreet kaur',
 'Harun Omar-Godane',
 'Hossain Ghahraloud',
 'Jesso Thomas',
 'Kamiar Mehmannavazan',
 'Karthik Sai',
 'Kwabena Gyasi-Boateng',
 'L Reetika',
 'mariya amtullah',
 'Marwa Musa',
 'Meelad Armani',
 'Miguel Diaz',
 'Mohammad Dabbour',
 'Pouria Raziei',
 'Reena Thakur',
 'Robin Francis Thomas',
 'Rohan Thomas',
 'Ronit Soni',
 'Sameeha Bala',
 'Supriya Kanda',
 'Weslie Chung',
 'Ying Fei Li',
 'Poojan Modi',
 'Alexander Hailu',
 'Ekaterina Shalygina',
 'Nevin Tomy',
 'Jason Huang',
 'Anindita',
 'Vrunda Patel',
 'Sravan Pingali',
 'Sarah',
 ['Peer-Mentor']]

In [84]:
#Q11 Change the value of the index in Q10 from "Sarah" to "Instructor"
JDA_list[41]="Instructor"
print("Instructor" in JDA_list)
JDA_list.index("Instructor")

True

41

In [85]:
ints = [1, 3, 7, 5, 4, 3]
item = 3
 
indexes = [i for i in range(len(ints)) if ints[i] == item]
print(f"Item {item} is found at index {indexes}")

Item 3 is found at index [1, 5]

In [88]:
#99 = 5 # define the value to search for

li = [1,2,89,11,"km",55,99,66,678, "dx", 10,"dx", 11, 99,"dx", "dx", 4, 5, 6]
first_index = li.index(99)  # find the index of the first occurrence of dx
second_index = li.index(99, first_index+1)  # find the index of the second occurrence of dx
print(second_index)

13

<h1>Python Dictionary Exercises</h1>

In [1]:
#Q1 Create a dictionary for all participants in the JDA program.
#Keys should be the first letter in their names, Values should be their names.
#[Hint] dic={"l":(Leul),"J":(Jerry,Jainam)........}
dic={"KA":"Akmeela Abdi","OA":"Oluseun Adebayo","CA":"Christianah Adeoya","RA":"Rispa Adjei","AB":"Abdullah Bahaj","AB":"Arvishkumar Barot","YD":"Yahya Darman","RD":"Ramya Duraisamy","VE":"Valentina Egorova","NE":"Nurcin Eroglu","FF":"Femi Felix","SG":"Srishti Garg","NG":"Nathan Gaynor","DG":"Devinder Singh Gullia","SN":"Fatima Sanjeedha Haja","KH":"Kai Hung Ho","MS":"Md Sharharuf Hossain","SH":"Said Huner","RK":"Rajbir Kaur","KK":"Konomi Kohara"}
dic

{'KA': 'Akmeela Abdi',
 'OA': 'Oluseun Adebayo',
 'CA': 'Christianah Adeoya',
 'RA': 'Rispa Adjei',
 'AB': 'Arvishkumar Barot',
 'YD': 'Yahya Darman',
 'RD': 'Ramya Duraisamy',
 'VE': 'Valentina Egorova',
 'NE': 'Nurcin Eroglu',
 'FF': 'Femi Felix',
 'SG': 'Srishti Garg',
 'NG': 'Nathan Gaynor',
 'DG': 'Devinder Singh Gullia',
 'SN': 'Fatima Sanjeedha Haja',
 'KH': 'Kai Hung Ho',
 'MS': 'Md Sharharuf Hossain',
 'SH': 'Said Huner',
 'RK': 'Rajbir Kaur',
 'KK': 'Konomi Kohara'}

In [2]:
#Q2 What are the keys of your dictionary
dic.keys()

dict_keys(['KA', 'OA', 'CA', 'RA', 'AB', 'YD', 'RD', 'VE', 'NE', 'FF', 'SG', 'NG', 'DG', 'SN', 'KH', 'MS', 'SH', 'RK', 'KK'])

In [3]:
#Q3 What are the values of your dictionary
dic.values()

dict_values(['Akmeela Abdi', 'Oluseun Adebayo', 'Christianah Adeoya', 'Rispa Adjei', 'Arvishkumar Barot', 'Yahya Darman', 'Ramya Duraisamy', 'Valentina Egorova', 'Nurcin Eroglu', 'Femi Felix', 'Srishti Garg', 'Nathan Gaynor', 'Devinder Singh Gullia', 'Fatima Sanjeedha Haja', 'Kai Hung Ho', 'Md Sharharuf Hossain', 'Said Huner', 'Rajbir Kaur', 'Konomi Kohara'])

In [6]:
#Q4 Find participant's names that start with J,I,M,C,A
print(dic["AB"])
print(dic["DG"])

Arvishkumar Barot
Devinder Singh Gullia

In [7]:
#Q5 Add the following to your dictionary
# Key<(K,PD)>, Value<(Kristina)>
dic["K,PD"]={"Kristina"}
dic

{'KA': 'Akmeela Abdi',
 'OA': 'Oluseun Adebayo',
 'CA': 'Christianah Adeoya',
 'RA': 'Rispa Adjei',
 'AB': 'Arvishkumar Barot',
 'YD': 'Yahya Darman',
 'RD': 'Ramya Duraisamy',
 'VE': 'Valentina Egorova',
 'NE': 'Nurcin Eroglu',
 'FF': 'Femi Felix',
 'SG': 'Srishti Garg',
 'NG': 'Nathan Gaynor',
 'DG': 'Devinder Singh Gullia',
 'SN': 'Fatima Sanjeedha Haja',
 'KH': 'Kai Hung Ho',
 'MS': 'Md Sharharuf Hossain',
 'SH': 'Said Huner',
 'RK': 'Rajbir Kaur',
 'KK': 'Konomi Kohara',
 'K,PD': {'Kristina'}}

In [8]:
#Q6 Find the length of your dictionary
len(dic)

20

In [9]:
#Q7 Add the following to your dictionary
# Key<(S,Instructor)>, Value<(Sarah)>, Key<J>
dic["S,Instructor"]="Sarah"
dic["J"]=""
dic

{'KA': 'Akmeela Abdi',
 'OA': 'Oluseun Adebayo',
 'CA': 'Christianah Adeoya',
 'RA': 'Rispa Adjei',
 'AB': 'Arvishkumar Barot',
 'YD': 'Yahya Darman',
 'RD': 'Ramya Duraisamy',
 'VE': 'Valentina Egorova',
 'NE': 'Nurcin Eroglu',
 'FF': 'Femi Felix',
 'SG': 'Srishti Garg',
 'NG': 'Nathan Gaynor',
 'DG': 'Devinder Singh Gullia',
 'SN': 'Fatima Sanjeedha Haja',
 'KH': 'Kai Hung Ho',
 'MS': 'Md Sharharuf Hossain',
 'SH': 'Said Huner',
 'RK': 'Rajbir Kaur',
 'KK': 'Konomi Kohara',
 'K,PD': {'Kristina'},
 'S,Instructor': 'Sarah',
 'J': ''}

In [10]:
#Q8 Find the length of your dictionary
len(dic)

22

In [11]:
#Q7 Delete the following keys from your dictionary
#Key<(S,Instructor)>
#Key<J>
del(dic["S,Instructor"])
dic

{'KA': 'Akmeela Abdi',
 'OA': 'Oluseun Adebayo',
 'CA': 'Christianah Adeoya',
 'RA': 'Rispa Adjei',
 'AB': 'Arvishkumar Barot',
 'YD': 'Yahya Darman',
 'RD': 'Ramya Duraisamy',
 'VE': 'Valentina Egorova',
 'NE': 'Nurcin Eroglu',
 'FF': 'Femi Felix',
 'SG': 'Srishti Garg',
 'NG': 'Nathan Gaynor',
 'DG': 'Devinder Singh Gullia',
 'SN': 'Fatima Sanjeedha Haja',
 'KH': 'Kai Hung Ho',
 'MS': 'Md Sharharuf Hossain',
 'SH': 'Said Huner',
 'RK': 'Rajbir Kaur',
 'KK': 'Konomi Kohara',
 'K,PD': {'Kristina'},
 'J': ''}

In [12]:
#Q9 Find the length of your dictionary
len(dic)

21

In [16]:
#Q10 Create a new dictionary called synonyms_dic
synonym_dic={}
#type(synonym_dic)

In [24]:
#Q11 Add the synonyms of the following words to your dictionary
#Bad, Good, Awesome, Cold, Easy, Hard, Big, Small"
synonym_dic={"Bad": "poor","Good":"fine","Awesome": "amazing","Cold":"chilly", "Easy": "painless","Hard":"firm", "Big": "massiv","Small":"tiny"}

In [25]:
#Q12 Use your dictionary to find the synonym of the following words
# Awesome, Easy, Small, Old
print(synonym_dic["Awesome"])
print(synonym_dic["Easy"])
print(synonym_dic.get("Small"))
print(synonym_dic.get("Old"))

amazing
painless
tiny
None

In [26]:
#Q13 Delete everything from synonyms_dic
#The clear() method clears all the items in the dictionary.
#The del keyword method uses the keyword from the dictionary to remove an item.
#The pop() method, The pop method uses the keyword from the given dictionary to remove an item from that dictionary. 
#The pop method is similar to the del keyword method because they both use the keyword from the dictionary.
#The popitem() method, The popitem() removes the last item added to the dictionary.
print(synonym_dic.values())
synonym_dic.clear()
synonym_dic

dict_values(['poor', 'fine', 'amazing', 'chilly', 'painless', 'firm', 'massiv', 'tiny'])

{}

In [27]:
#Q14 Print all values in synonyms_dic
synonym_dic.values()

dict_values([])

<b>Convert List to Dictionary </b>, we can use the Python <b>zip() function</b>. This function lets us merge two lists together. We can use one list as the keys for the dictionary and the other as the values.

<b>dict.fromkeys()</b>: Used to create a dictionary from a list. You can optionally set a default value for all keys. You cannot set individual values for each item in the dictionary.

In [28]:
#Q15 Convert the below two lists into dictionary
Keys=["True","False"]
Values=[1,0]
list_to_dic=dict(zip(Keys,Values))
list_to_dic

{'True': 1, 'False': 0}

In [29]:
#Q16 Sum all the values in the following dictionary
income={'Jan':1000,'Feb':1500,'Mar':980,'April':1000}
sum(income.values())

4480

In [30]:
#Q17 Create the following dictionary encryption={10:"hungry", 101:"am", 110:"I",1011:" " 110:" " 1001:" " 1:" "}
# What should be the decryption of the following code "110 101 10 1011 110 1001 1"
encryption={10:"hungry", 101:"am", 1001:"want",1101:"food",110:"I",1011:"and", 11011:"now"}
keys = [ 110, 101, 10, 1011, 110, 1001, 1101, 11011]

for key in keys:
    print("encryption word of {} is".format(key) + " " + encryption[key])

encryption word of 110 is I
encryption word of 101 is am
encryption word of 10 is hungry
encryption word of 1011 is and
encryption word of 110 is I
encryption word of 1001 is want
encryption word of 1101 is food
encryption word of 11011 is now